---
import RootLayout from "../layouts/index.astro";
import books from "../../public/api/books.json";
---

<RootLayout title="Ma Collection">
    <div class="space-y-4">
        <h1 class="dark:text-white text-center">Ma Collection de Livres</h1>
        <div
                class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
            {
                books.map((book) => (
                        <div class="rounded bg-white p-4 shadow">
                            <h2 class="mt-2 text-center">
                                <a href={`/books/${book.id}`}>{book.title}</a>
                            </h2>
                            {book.img && (
                                    <img
                                            src={book.img}
                                            alt={`Couverture de ${book.title}`}
                                            class="mt-4 h-auto w-44"
                                    />
                            )}
                        </div>
                ))
            }
        </div>
    </div>
</RootLayout>
