---
import RootLayout from "../layouts/index.astro";
---

<RootLayout title="Home">
    <div class="flex flex-col text-center gap-3">

        <h1 class="dark:text-white">Bienvenue sur ma collection</h1>
        <p class="dark:text-white">Ceci est ma nouvelle, et espérons le dernière version du ma bibliothèque.</p>
        <p class="dark:text-white">Elle sera mise à jours en temps réel et vous aurez une notification quand une mise à
            jours est disponible.<br/> Vous pourrez venir faire un
            tours quand bon vous semble.</p>
    </div>

</RootLayout>
