---
import {DarkThemeToggle} from "flowbite-react";
---

<nav class="navbar bg-purple-900 navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Ma Collection</a>
        <button
                class="navbar-toggler bg-white"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="offcanvas offcanvas-end bg-purple-900 text-white"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button
                        type="button"
                        class="btn-close text-white text-3xl"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close">X
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link link-light" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" href="/collection">Ma Collection</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <DarkThemeToggle client:load/>
                </div>
            </div>
        </div>
    </div>
</nav>
